.main__header {
    font-family: 'Cormorant', serif;
    background-color: rgb(3, 3, 5,0.4);
    font-size:1.3rem;
}
.main__nav{
    width:80%;
    margin:0 auto;
}
.main__nav__list{
    display: flex;
    justify-content: space-evenly;
    margin:0;
    padding:0;
}
.main__nav__item {
    display: block;
    flex:1;
}
.main__nav__link{
    display: block;
    color:#fff;
    text-decoration: none;
    padding:15px 20px;
    text-align: center;
}

.main__nav__link:hover{
    background:rgba(255,255,255, 0.3);;
    color:black;
    border-bottom:3px solid rgb(48, 0, 48);
}

