.advisor__container {
    background-color:lightblue;
    position: fixed;
    top:4em;
    right:5em;
    width:20%;
}

.advisor__item {
    padding:20px;
    border-bottom: 2px solid darkseagreen;
    margin:0;
    text-align: center;
}

.advisor__close {
    padding:5px;
    width:40%;
    margin:0 auto;
    display: block;
}